<div class="form-background">
    <div class="shape shape-square"></div>
    <div class="shape shape-small-square"></div>
    <div class="shape shape-medium-square"></div>
    <div class="shape shape-large-square"></div>
    <div class="shape shape-circle"></div>
    <div class="shape shape-small-circle"></div>
    <div class="shape shape-small2-circle"></div>
    <div class="shape shape-medium-circle"></div>
    <div class="shape shape-large-circle"></div>
    <div class="shape shape-triangle"></div>
    <div class="shape shape-small-triangle"></div>
    <div class="shape shape-medium-triangle"></div>
    <div class="shape shape-large-triangle"></div>
</div>
