<div class="header">
    <p>Selecione um jogo e descubra um mundo de possibilidade</p>
</div>

<div class="container">
    <div class="opcao-controle" [class.selected]="selectedCardIndex === 0" (click)="sistemaSolar()">
        <img src="../../assets/image/capas/capa_sistema_solar.png" alt="Jogo Sistema Solar">
        <h2>VIAGEM ESPACIAL</h2>
        <p>Nesta fase, você viajará pelo sistema solar em busca dos planetas. Mas cuidado, obstáculos podem surgir pelo caminho! Fique atento!</p>
        <button mat-stroked-button class="bnt-branco-roxo W-75">INICIAR</button>
    </div>

    <div class="opcao-controle" [class.selected]="selectedCardIndex === 1" (click)="numeros()">
        <img src="../../assets/image/capas/capa_batalha_numeros.png" alt="Controle Manual">
        <h2>BATALHA DOS NÚMEROS</h2>
        <p>Nesta fase, você enfrentará um gigante numérico. Resolva as contas para impedi-lo de vencer. Mas corra, o tempo está contra você!</p>
        <button mat-stroked-button class="bnt-branco-roxo W-75">INICIAR</button>
    </div>

    <div class="opcao-controle" [class.selected]="selectedCardIndex === 2" (click)="festivalCores()">
        <img src="../../assets/image/capas/capa_festival_cores.png" alt="Jogo Festival Cores">
        <h2>FESTIVAL DAS CORES</h2>
        <p>Nesta fase, uma chuva colorida começou. Sua missão é recolher as cores e separar elas, mas cuidado, não pegue as cores proibidas!</p>
        <button mat-stroked-button class="bnt-branco-roxo W-75">INICIAR</button>
    </div>
</div>

<app-formas></app-formas>
