<div class="header">
    <h1>AGORA, O PODER DO JOGO ESTÁ AO SEU ALCANCE</h1>
    <p>Um jogo divertido e educativo, criado para pessoas com mobilidade reduzida, jogado com os olhos ou mínimos movimentos das mãos.</p>
</div>
  
<div class="container">
    <div class="opcao-controle" (click)="controleOcular()">
        <img src="../../assets/image/controle/olho.png" alt="Controle Ocular">
    </div>
    <div class="opcao-controle" (click)="controleLuva()">
        <img src="../../assets/image/controle/mao.png" alt="Controle Manual">
    </div>
    <div class="opcao-controle" (click)="controleTeclado()">
        <img src="../../assets/image/controle/teclado.png" alt="Controle Teclado">
    </div>
</div>
  
<app-formas></app-formas>
  