
@import 'cores.scss';

//Widths

.W-100{
    width: 100% !important;
}

.W-75{
    width: 75% !important;
}

.W-50{
    width: 50% !important;
}

.W-25{
    width: 25% !important;
}

//Botoes
.bnt-branco-roxo {
    background-color: $branco !important;
    color:$roxo  !important;

    &:hover {
        background-color: $roxo !important;
        color:$branco  !important;
    }
}

.bnt-amarelo-roxo{
    background-color: $amarelo !important;
    color:$roxo  !important
}

//backgrounds

.bg-branco{
    background-color: $branco !important;
}
